<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Reglas Negocio</title>
    <base href="/">
</head>

<body ng-app="reglas-negocio" ng-strict-di>
    <div class="container">
        <div class="spacer"></div>
          <div ui-view=""></div>
        <div>
    </div>
  <!--<div>
    <div class="container"><main></main></div>
</div>-->
</body>
