/* CSS declarations go here */
.icon-blue{
    color:blue;
}
.icon-green{
    color: green;
}
.icon-red{
    color: red;
}
.pointer{
    cursor: pointer;
}
.btn.smaller {
  height: 26px;
  padding-bottom: 2px;
  padding-top: 2px;
}
.fitText{
  min-width: 90px;
}
.spacer {
  height: 10px;
}
.spacer-tall {
  height: 20px;
}


input {
  padding-left: 5px;
}

.window-panel {
  border: 2px solid #ddd;
  background: #f5f5f5;
  padding: 15px;
  padding-top: 0px;
  border-radius: 0px 5px 5px 5px;
}

.main-window-panel {
  border: 2px solid #ddd;
  padding: 15px;
  border-radius: 0px 5px 5px 5px;
}

.btn.tab {
  border-radius: 5px 5px 0px 0px;
  border: solid 2px #ddd;
  border-bottom: 0px;
}

.btn.btn-default.selected {
  background-color: #ddd;
}

.btn.btn-default:focus {
  outline: none;
  border-color: #ddd;
}

.btn.btn-default:active {
  outline: none;
}

.red-cell {
  background-color: #d9534f;
}

.orange-cell {
  background-color: #F3AD5A;
  text-align: right;
}

.gray-cell {
  background-color: #BBB;
  text-align: right;
}

.table.journal {
  text-align: center;
  border: none;
}

.table.journal th{
  text-align: center;
}

.no-border {
  border: none !important;
}

.display-inline {
  display: inline;
}

.empty-tab {
  text-align: center;
  color: #777;
}

.table-row {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: 7px;
  cursor: pointer;
}

.table-row.table-row-header {
  font-weight: bold;
  background-color: white;
  border-top: 0px;
}

.table-row-body .table-row-container:nth-of-type(odd) .table-row {
  background-color: #f5f5f5;
}

.table-row-body .table-row-container:nth-of-type(even) .table-row {
  background-color: #fff;
}

.section-container {
  padding: 10px;
  padding-top: 0px;
}

/* TOAST FOR ERROR DISPLAYING */
.snackbar {
    visibility: hidden;
    min-width: 250px;
    right: 0;
    left: 0;
    margin: auto;
    max-width: 350px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    bottom: 30px;
    font-size: 17px;
}

.snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1000; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 90%;
    max-width: 500px;
    text-align: center;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
.scrollable-1{
  max-height: 220px;
  overflow-y: auto;
  overflow-x: hidden;
}
.small{
  height: 20px;
}
.float-left {
  float: left;
}
.right{
  text-align: right;
}
.center{
  text-align: center;
}
.observations {
  width: 100%;
}
.separator {
  height: 10px;
}
.inline {
  display: inline-block;
}
.movement-card .dropdown {
  display: inline-block;
  width: 200px;
  top: 8px;
}
.movement-card .dropdown .dropdown-toggle .input-group input{
  height: 26px;
  border-radius: 0px;
}
.movement-card .dropdown .dropdown-toggle .input-group span{
  height: 26px;
  padding: 0px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 0px;
}
.return-to-exercises {
  display: inline-block;
  float: right;
  padding-top: 10px;
}

nav {
  display: inline-block;
}
.gray-text {
  color: rgba(0,0,0,0.5);
}
