
<!--movements-->
<div>
    <!--Open button-->
    <div ng-show="!$ctrl.showAdd">
        <div class="pointer" ng-click="$ctrl.openAddMovementTab()">
            <i class="fa fa-plus" aria-hidden="true"></i>
            Capturar Datos
        </div>
    </div>
    <!--Data Capture-->
    <div ng-show="$ctrl.showAdd" class="window-panel">
        <!--Title-->
        <div class="row">
            <div class="col-xs-6 left">
              Capturar Datos
            </div>
            <div class="col-xs-6 right">
              <i class="fa fa-times pointer icon-red" aria-hidden="true" ng-click="$ctrl.closeAddMovementTab()"></i>
            </div>
        </div>
        <!--Spacer-->
        <div class="row spacer"></div>
        <!--Inputs-->
        <div class="row section-container">
          <!--Barra superior-->
            <div class="movement-card">
              <h4 ng-hide="$ctrl.investors.length && $ctrl.projects.length-1" class="empty-tab">Se debe agregar un inversor y un proyecto antes de realizar movimientos</h4>
              <select ng-model="$ctrl.selectedData" ng-show="$ctrl.investors.length && $ctrl.projects.length-1">
                  <option value="" selected="selected" disabled>Movimiento</option>
                  <option ng-repeat="movement in $ctrl.movements" value="{{movement.id}}">{{movement.id}} {{movement.Name}}</option>
              </select>
              <br>
              <br ng-show="$ctrl.selectedData">
              <div ng-show="$ctrl.selectedData" class="inline">
                FM: <input type=text ng-value="$ctrl.fm.length + 1" disabled>
              </div>
              <select ng-model="$ctrl.selectedProject" ng-show="$ctrl.selectedData == 2 || $ctrl.selectedData == 3 || $ctrl.selectedData == 4">
                <option value="" selected="selected" disabled>Proyecto</option>
                <option ng-hide="project.Name == 'Capital' " ng-repeat="project in $ctrl.projects" value="{{project.id}}">{{project.Name}}</option>
              </select>
                <input ng-show="$ctrl.selectedData" ng-model="$ctrl.new_observation" placeholder="Observaciones">
                <!--select manual or automatic date-->
                <select ng-model="$ctrl.dateType" ng-show="$ctrl.selectedData" ng-change="$ctrl.changeDateType()">
                  <option value="auto">Fecha automática</option>
                  <option value="manual">Fecha manual</option>
                </select>
                <!--Date Time Picker -->
                <input type="datetime-local" ng-show="$ctrl.selectedData && $ctrl.dateType == 'manual'" ng-model="$ctrl.date">
                <button ng-show="$ctrl.selectedData" class="btn btn-primary smaller" ng-show="$ctrl.selectedData" ng-click="$ctrl.openModal(3)" ng-disabled="!$ctrl.validateMovement()">Registrar</button>
            </div>
            <div>
              <div ng-show="$ctrl.selectedData == 4 || $ctrl.selectedData == 5" class="spacer"></div>
                <!--Boton devolver a todos-->
              <div ng-show="$ctrl.selectedData == 4 || $ctrl.selectedData == 5">
                <button class="btn btn-primary smaller" ng-click="$ctrl.openModal(4)" ng-disabled="!$ctrl.validateReturn()">Devolver todo a todos</button>
              </div>
              <!--Asignación automática-->
              <div ng-show="$ctrl.selectedData == 2">
                  <label>
                    <input type="checkbox" ng-model="$ctrl.autoInvest" checked>Utilizar asignación automática
                  </label>
                  <div class="spacer"></div>
                  <div ng-show="$ctrl.autoInvest">
                    <div>Capital:</div>
                    <input ng-model="$ctrl.autoInvest_amount" type="Number" min="0">
                    <input disabled value="{{ $ctrl.setProjectBalance($ctrl.projects[0]) | currency }}">
                  </div>
                </div>
              <div class="spacer"></div>
                <!--Inputs por inversor-->
              <div class="scrollable-1" ng-hide="$ctrl.selectedData == 3 || !$ctrl.selectedData ||$ctrl.selectedData == 6 || ($ctrl.autoInvest && $ctrl.selectedData == 2)">
                    <div  class="row">
                      <div ng-repeat="investor in $ctrl.investors" class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <div>{{ investor.Name }}</div>
                          <input ng-disabled="!$ctrl.disableInvestorInput(investor)" ng-model="investor.new_amount" type="Number" min="0">
                          <input ng-hide="$ctrl.selectedData == 4" disabled value="{{$ctrl.setInvestorBalance(investor) | currency}}">
                          <input ng-show="$ctrl.selectedData == 4" disabled ng-value="$ctrl.selectedProjectBalance(investor)">
                        </div>
                      </div>
                </div>
                <!--Generación de Utilidad-->
              <div ng-show="$ctrl.selectedData == 3">
                Cantidad:
                <input ng-model="$ctrl.revenue" type="Number" min="0">
              </div>


              <!--Traspasos-->
              <div ng-show="$ctrl.selectedData == 6" class="row">
                  <div class="col-xs-2">
                    <div>Traspaso:</div>
                    <select ng-model="$ctrl.transferInvestor">
                      <option value="" selected="selected" disabled>Inversor</option>
                      <option ng-repeat="investor in $ctrl.investors" value="{{investor.id}}">{{investor.Name}}</option>
                    </select>
                  </div>
                  <div class="col-xs-2">
                    <div>De:</div>
                    <select ng-model="$ctrl.transferFrom">
                      <option value="" selected="selected" disabled>Proyecto</option>
                      <option ng-if="project.Name != 'Capital' " ng-repeat="project in $ctrl.projects" value="{{project.id}}">{{project.Name}}</option>
                    </select>
                    <input disabled ng-value="$ctrl.transferBalanceFrom()">
                    <input ng-model="$ctrl.transfer_amount" type="Number" min="0">
                  </div>
                  <div class="col-xs-2">
                    <div>A:</div>
                    <select ng-model="$ctrl.transferTo">
                      <option value="" selected="selected" disabled>Proyecto</option>
                      <option ng-if="project.Name != 'Capital' " ng-repeat="project in $ctrl.projects" value="{{project.id}}">{{project.Name}}</option>
                    </select>
                    <input disabled ng-value="$ctrl.transferBalanceTo()">
                  </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Spacer-->
<div class="spacer"></div>
<!--Reverted movements checkbox-->
<div class="checkbox display-inline">
  <label ng-show="$ctrl.fm.length">
    <input type="checkbox" ng-model="$ctrl.show_reverted">Ocultar movimientos revertidos
  </label>
</div>
<!--Movements tab-->
<div>
  <h4 ng-hide="$ctrl.fm.length" class="empty-tab">No hay movimientos actualmente</h4>
  <div class="section-container" ng-show="$ctrl.fm.length">
      <!--Header-->
    <div class="row table-row table-row-header">
      <div class="col-xs-2">
        No. FM
      </div>
      <div class="col-xs-2">
        Tipo de Movimiento
      </div>
      <div class="col-xs-2">
        Fecha
      </div>
      <div class="col-xs-2">
        Proyecto
      </div>
      <div class="col-xs-2">
        Total
      </div>
      <div class="col-xs-2">
        Observaciones
      </div>
    </div>
    <!--Table-->
    <div class="table-row-body" ng-show="$ctrl.fm.length">
      <div ng-repeat="fm in $ctrl.fm | orderBy: '-Date'" class="table-row-container">
          <!--Movements-->
        <div class="row table-row" ng-click="$ctrl.showFmMovements(fm)" ng-hide="$ctrl.show_reverted&&fm.reverted">
          <div class="col-xs-2">
            {{ fm.id }}
          </div>
          <div class="col-xs-2">
            {{ fm.id_movement }}
          </div>
          <div class="col-xs-2">
            {{ fm.Date | date: "dd/MM/yyyy - HH:mm:ss"}}
          </div>
          <div class="col-xs-2">
            {{ fm.id_project }}
          </div>
          <div class="col-xs-2">
            {{ $ctrl.setFmTotal(fm) | currency}}
          </div>
          <div class="col-xs-2" ng-show="fm.observation">
            {{ fm.observation }}
          </div>
          <div class="col-xs-2" ng-hide="fm.observation">
            --
          </div>
        </div>
        <!--Movements per FM-->
        <div ng-if="fm.history" ng-hide="$ctrl.show_reverted&&fm.reverted">
          <div class="spacer"></div>
          <div>
            <div class="pointer" ng-hide="fm.reverted" ng-click="$ctrl.revertMovement(fm)">
                <i class="fa fa-undo icon-red" aria-hidden="true"></i>
                <label class="icon-red">Revertir movimiento</label>
            </div>
            <div ng-show="fm.reverted">El movimiento ya fue revertido</div>
          </div>
          <div class="spacer"></div>
          <div ng-hide="$ctrl.amountsByFm(fm).length">
            <h4 class="empty-tab">No hay movimientos disponibles</h4>
            <div class="spacer"></div>
          </div>
          <table class="table table-striped" ng-show="$ctrl.amountsByFm(fm).length">
            <thead>
              <tr>
                <th>No. Movimiento</th>
                <th>FM Origen</th>
                <th>Fecha</th>
                <th>Hora</th>
                <th>Tipo</th>
                <th>Concepto</th>
                <th>De</th>
                <th>Para</th>
                <th>Cantidad</th>
                <th class="gray-text">Fecha de creación</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="movement in $ctrl.amountsByFm(fm) | orderBy: 'fm.Date' ">
                <td>{{ movement.id }}</td>
                <td>{{ fm.id }}</td>
                <td>{{ fm.Date | date: "dd/MM/yy" }}</td>
                <td>{{ fm.Date | date: "HH:mm" }}</td>
                <td>{{ fm.id_movement }}</td>
                <td>{{ $ctrl.setMovementConcept(movement) }}</td>
                <td>{{ $ctrl.setMovementFrom( movement) }}</td>
                <td>{{ $ctrl.setMovementTo(movement) }}</td>
                <td>{{ movement.amount | currency }}</td>
                <td class="gray-text">{{ fm.createdAt | date: "dd/MM/yy HH:mm" }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

</div>
<!--toast-->
<div id="snackbar" class="snackbar">{{$ctrl.message}}</div>
<!--Modal-->
<div id="myModal" class="modal">
  <!-- Modal content -->
  <div class="modal-content">
    <span ng-click="$ctrl.closeModal()" class="close">&times;</span>
    <br>
    <h4>¿Seguro que desea realizar este movimiento?</h4>
    <div class="spacer"></div>
    <button class="btn btn-danger" ng-click="$ctrl.closeModal()">
      Cancelar
    </button>
    <button class="btn btn-success" ng-click="$ctrl.choseMethod()">
      Aceptar
    </button>
  </div>
</div>
