<!--Add investor-->
<div>
    <!--Open button-->
    <div ng-show="!$ctrl.showAdd">
        <div class="pointer" ng-click="$ctrl.openAddInvestorTab()">
            <i class="fa fa-plus" aria-hidden="true"></i>
            Agregar inversionista
        </div>
    </div>
    <!--Add Investor tab-->
    <div ng-show="$ctrl.showAdd" class="window-panel">
        <!--Title-->
        <div class="row">
            <div class="col-xs-6 left">
              Agregar Inversionista
            </div>
            <div class="col-xs-6 right">
              <i class="fa fa-times pointer icon-red" aria-hidden="true" ng-click="$ctrl.closeAddInvestorTab()"></i>
            </div>
        </div>
        <!--Spacer-->
        <div class="row spacer"></div>
        <!--Inputs-->
        <div class="row">
          <div class="col-xs-2">
            <input type="text" ng-model="$ctrl.new_investor" placeholder="Código/Iniciales">
          </div>
          <div class="col-xs-2">
            <input type="text" ng-model="$ctrl.new_investor_Desc" placeholder="Nombre">
          </div>
          <div class="col-xs-2">
            <button class="btn btn-primary smaller" ng-click="$ctrl.openModal()" ng-disabled="!($ctrl.new_investor && $ctrl.new_investor_Desc)">Agregar</button>
          </div>
      </div>
    </div>
</div>
<!--Spacer-->
<div class="spacer"></div>
<!--Investors tab-->
<div>
    <h4 ng-hide="$ctrl.investors.length" class="empty-tab">No hay inversores actualmente</h4>
    <div ng-show="$ctrl.investors.length">
      <div class="section-container">
        <div class="row table-row table-row-header">
          <div class="col-xs-2">
            Iniciales
          </div>
          <div class="col-xs-4">
            Nombre de inversor
          </div>
          <div class="col-xs-2 center">
            Saldo
          </div>
          <div class="col-xs-2 center">
            Cant. total invertida
          </div>
          <div class="col-xs-2">
            Estado
          </div>
        </div>
        <div class="table-row-body">
          <div ng-repeat="investor in $ctrl.investors | orderBy: 'Name'" class="table-row-container">
            <div class="row table-row" ng-click="$ctrl.showInvestorMovements(investor)">
              <div class="col-xs-2">
                {{ investor.Name }}
              </div>
              <div class="col-xs-4">
                {{ investor.description }}
              </div>
              <div class="col-xs-2 right">
                {{ $ctrl.setInvestorBalance(investor) | currency }}
              </div>
              <div class="col-xs-2 right">
                {{ $ctrl.setInvestorSum(investor) | currency }}
              </div>
              <div class="col-xs-2">
                {{ $ctrl.setInvestorStatus(investor) }}
              </div>
            </div>
            <div ng-if="investor.history">
              <div class="spacer"></div>
              <div>
                <div class="col-xs-9 left">
                </div>
                <div class="col-xs-3">
                  <div class="pointer" ng-hide="investor.active" ng-click="$ctrl.toggleInvestor(investor)">
                      <i class="fa fa-id-card-o icon-green" aria-hidden="true"></i>
                      <label class="icon-green">Habilitar inversionista</label>
                  </div>
                  <div class="pointer" ng-show="investor.active" ng-click="$ctrl.toggleInvestor(investor)">
                      <i class="fa fa-id-card icon-red" aria-hidden="true"></i>
                      <label class="icon-red">Inhabilitar inversionista</label>
                  </div>
                </div>
              </div>
              <div ng-show="investor.status">
                <div class="spacer"></div>
              </div>
              <div class="spacer"></div>
              <div ng-hide="$ctrl.amountsByInvestor(investor).length">
                <h4 class="empty-tab">No hay movimientos disponibles</h4>
                <div class="spacer"></div>
              </div>
              <table class="table table-striped" ng-show="$ctrl.amountsByInvestor(investor).length">
                <thead>
                  <tr>
                    <th>No. Movimiento</th>
                    <th>FM Origen</th>
                    <th>Fecha</th>
                    <th>Hora</th>
                    <th>Tipo</th>
                    <th>Concepto</th>
                    <th>De</th>
                    <th>Para</th>
                    <th>Cantidad</th>
                    <th class="gray-text">Fecha de creación</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="movement in $ctrl.amountsByInvestor(investor) | orderBy: $ctrl.getMovementDate: true ">
                    <td>{{ movement.id }}</td>
                    <td>{{ movement.id_fm }}</td>
                    <td>{{ $ctrl.getMovementDate(movement) | date: "dd/MM/yy" }}</td>
                    <td>{{ $ctrl.getMovementDate(movement) | date: "HH:mm" }}</td>
                    <td>{{ $ctrl.getMovementType(movement) }}</td>
                    <td>{{ $ctrl.setMovementConcept(movement) }}</td>
                    <td>{{ $ctrl.setMovementFrom(movement) }}</td>
                    <td>{{ $ctrl.setMovementTo(movement) }}</td>
                    <td>{{ movement.amount | currency }}</td>
                    <td class="gray-text">{{ $ctrl.getMovementCreatedAt(movement) | date: "dd/MM/yy HH:mm"  }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
<!--toast-->
<div id="snackbar" class="snackbar">{{$ctrl.message}}</div>
<!--Modal-->
<div id="myModal" class="modal">
  <!-- Modal content -->
  <div class="modal-content">
    <span ng-click="$ctrl.closeModal()" class="close">&times;</span>
    <br>
    <h4>¿Seguro que desea agregar este inversionista?</h4>
    <div class="spacer"></div>
    <button class="btn btn-danger" ng-click="$ctrl.closeModal()">
      Cancelar
    </button>
    <button class="btn btn-success" ng-click="$ctrl.addInvestor()">
      Aceptar
    </button>
  </div>
</div>
