<nav>
  <a class="btn btn-default tab" ui-sref="exerciseView.journal" ng-class="{'active': $ctrl.current == 'journal'}" ui-sref-opts="{reload: true}">Diario</a>
  <a class="btn btn-default tab" ui-sref="exerciseView.movements" ng-class="{'active': $ctrl.current == 'movements'}" ui-sref-opts="{reload: true}">Movimientos</a>
  <a class="btn btn-default tab" ui-sref="exerciseView.investors" ng-class="{'active': $ctrl.current == 'investors'}" ui-sref-opts="{reload: true}">Inversionistas</a>
  <a class="btn btn-default tab" ui-sref="exerciseView.projects" ng-class="{'active': $ctrl.current == 'projects'}" ui-sref-opts="{reload: true}">Proyectos</a>
</nav>
