<!--Journal-->
<div>
  <h4 ng-hide="$ctrl.fm.length" class="empty-tab">No hay movimientos actualmente</h4>
  <div ng-show="$ctrl.fm.length">
    <div class="center">
      <div class="float-left">
        FM:
        <input type="number" step="1" ng-model="$ctrl.select_fm" min="1" max="{{$ctrl.fm.length}}">
        <button class="btn btn-primary smaller" ng-click="$ctrl.goTo()" ng-disabled="!$ctrl.goToIsValid()">Ir</button>
      </div>
      <button class="btn btn-default smaller" ng-click="$ctrl.goToPrevious()" ng-disabled="$ctrl.selected_fm == $ctrl.fm[0].id">Anterior</button>
      <button class="btn btn-default smaller" ng-click="$ctrl.goToNext()" ng-disabled="$ctrl.selected_fm == $ctrl.fm[$ctrl.fm.length - 1].id">Siguiente</button>
      <button class="btn btn-default smaller" ng-click="$ctrl.goToLast()" ng-disabled="$ctrl.selected_fm == $ctrl.fm[$ctrl.fm.length - 1].id">Ir al último</button>
    </div>
    <br><div class="spacer"></div>
    FM:
    <input type="number" ng-model="$ctrl.selected_fm" disabled>
    Mov:
    <input disabled ng-model="$ctrl.table_movement">
    Fecha:
    <input type="text" disabled ng-value="$ctrl.table_date | date: 'dd/MM/yyyy hh:mm:ss'">
    Proyecto:
    <input disabled ng-model="$ctrl.table_project">
    <div class="checkbox display-inline">
      <label>
        <input type="checkbox" ng-model="$ctrl.show_empty">Mostrar elementos vacíos
      </label>
    </div>
    <br>
    <div class="separator"></div>
    Observaciones:
    <input type="text" placeholder="sin observaciones" class="observations" ng-model="$ctrl.table_observation" disabled>
    <br><br>
    <div class="table-responsive">
      <table class="table journal table-bordered table-condensed">
        <head>
          <tr class="small">
            <th class="no-border"></th>
            <th class="no-border"></th>
            <th class="no-border"></th>
            <th>Cantidad</th>
            <td ng-repeat="investor in $ctrl.investors" class="gray-cell">{{  $ctrl.setInvestorAmount(investor) | currency }}</td>
          </tr>
          <tr class="small">
            <th class="no-border"></th>
            <th class="no-border"></th>
            <th class="no-border"></th>
            <th>Inversor</th>
            <th ng-repeat="investor in $ctrl.investors">{{investor.Name}}</th>
          </tr>
          <tr class="small">
            <th class="no-border"></th>
            <th class="no-border"></th>
            <th class="no-border"></th>
            <th class="fitText">ID Inversor</th>
            <th ng-repeat="investor in $ctrl.investors">{{investor.id}}</th>
          </tr>
          <tr class="small">
            <th class="fitText">ID Proyecto</th>
            <th>Proyecto</th>
            <th>Indicador</th>
            <th>Totales</th>
            <td ng-repeat="investor in $ctrl.investors" class="orange-cell">{{ $ctrl.setInvestorSum(investor) | currency }}</td>
          </tr>
        </head>
        <tbody ng-repeat="project in $ctrl.projects">
          <!--M rows-->
          <tr ng-show="$ctrl.show_empty || $ctrl.setProjectM(project)">
            <th class="small fitText">{{project.id}}</th>
            <th class="small">{{project.Name}}</th>
            <td class="red-cell small">M</td>
            <td class="orange-cell small">{{ $ctrl.setProjectM(project) | currency }}</td>
            <td ng-repeat="investor in $ctrl.investors" class="gray-cell small">{{ $ctrl.setInvestorM(investor, project) | currency }}</td>
          </tr>
          <!--S rows-->
          <tr ng-show="$ctrl.show_empty || $ctrl.setProjectBalance(project) ">
            <th ng-hide="$ctrl.show_empty || $ctrl.setProjectM(project)" class="small fitText">{{project.id}}</th>
            <th ng-hide="$ctrl.show_empty || $ctrl.setProjectM(project)" class="small">{{project.Name}}</th>
            <th ng-show="$ctrl.show_empty || $ctrl.setProjectM(project)" class="no-border small"></th>
            <th ng-show="$ctrl.show_empty || $ctrl.setProjectM(project)" class="no-border small"></th>
            <td class="small">S</td>
            <td class="orange-cell small">{{ $ctrl.setProjectTotal(project) | currency }}</td>
            <td ng-repeat="investor in $ctrl.investors" class="gray-cell small">{{ $ctrl.setInvestorByProjectAmount(investor, project, $ctrl.selected_fm) | currency }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
