<!--projects-->
<div>
    <!--Open button-->
    <div ng-show="!$ctrl.showAdd">
        <div class="pointer" ng-click="$ctrl.openAddProjectTab()">
            <i class="fa fa-plus" aria-hidden="true"></i>
            Agregar proyecto
        </div>
    </div>
    <!--Add Investor tab-->
    <div ng-show="$ctrl.showAdd" class="window-panel">
        <!--Title-->
        <div class="row">
            <div class="col-xs-6 left">
              Agregar Proyecto
            </div>
            <div class="col-xs-6 right">
              <i class="fa fa-times pointer icon-red" aria-hidden="true" ng-click="$ctrl.closeAddProjectTab()"></i>
            </div>
        </div>
        <!--Spacer-->
        <div class="row spacer"></div>
        <!--Inputs-->
        <div class="row">
          <div class="col-xs-2">
            <input type="text" ng-model="$ctrl.new_project" placeholder="Código/Iniciales">
          </div>
          <div class="col-xs-2">
            <input type="text" ng-model="$ctrl.new_project_Desc" placeholder="Descripción">
          </div>
          <div class="col-xs-2">
            <button class="btn btn-primary smaller" ng-click="$ctrl.openModal()" ng-disabled="!($ctrl.new_project && $ctrl.new_project_Desc)">Agregar</button>
          </div>
        </div>
      </div>
    </div>
</div>
<!--Spacer-->
<div class="spacer"></div>
<!--Project table-->
<div class="section-container">
  <div class="row table-row table-row-header">
    <div class="col-xs-2">
      Código
    </div>
    <div class="col-xs-8">
      Descripción
    </div>
    <div class="col-xs-2 center">
      Cantidad
    </div>
  </div>
  <div class="table-row-body">
    <div ng-repeat="project in $ctrl.projects | orderBy: 'Name'" class="table-row-container">
      <div class="row table-row" ng-click="$ctrl.showProjectMovements(project)">
        <div class="col-xs-2">
          {{ project.Name }}
        </div>
        <div class="col-xs-8">
          {{ project.description }}
        </div>
        <div class="col-xs-2 right">
          {{ $ctrl.setProjectBalance(project) | currency }}
        </div>
      </div>
      <div ng-if="project.history">
        <div class="spacer"></div>
        <div ng-hide="$ctrl.amountsByProject(project).length">
          <h4 class="empty-tab">No hay movimientos disponibles</h4>
          <div class="spacer"></div>
        </div>
        <table class="table table-striped" ng-show="$ctrl.amountsByProject(project).length">
          <thead>
            <tr>
              <th>No. Movimiento</th>
              <th>FM Origen</th>
              <th>Fecha</th>
              <th>Hora</th>
              <th>Tipo</th>
              <th>Concepto</th>
              <th>De</th>
              <th>Para</th>
              <th>Cantidad</th>
              <th class="gray-text">Fecha de creación</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="movement in $ctrl.amountsByProject(project) | orderBy: $ctrl.getMovementDate: true">
              <td>{{ movement.id }}</td>
              <td>{{ movement.id_fm }}</td>
              <td>{{ $ctrl.getMovementDate(movement) | date: "dd/MM/yy" }}</td>
              <td>{{ $ctrl.getMovementDate(movement) | date: "HH:mm" }}</td>
              <td>{{ $ctrl.getMovementType(movement) }}</td>
              <td>{{ $ctrl.setMovementConcept(movement) }}</td>
              <td>{{ $ctrl.setMovementFrom(movement) }}</td>
              <td>{{ $ctrl.setMovementTo(movement) }}</td>
              <td>{{ movement.amount | currency }}</td>
              <td class="gray-text">{{ $ctrl.getMovementCreatedAt(movement) | date: "dd/MM/yy HH:mm"  }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<!--toast-->
<div id="snackbar" class="snackbar">{{$ctrl.message}}</div>
<!--Modal-->
<div id="myModal" class="modal">
  <!-- Modal content -->
  <div class="modal-content">
    <span ng-click="$ctrl.closeModal()" class="close">&times;</span>
    <br>
    <h4>¿Seguro que desea agregar este proyecto?</h4>
    <div class="spacer"></div>
    <button class="btn btn-danger" ng-click="$ctrl.closeModal()">
      Cancelar
    </button>
    <button class="btn btn-success" ng-click="$ctrl.addProject()">
      Aceptar
    </button>
  </div>
</div>
