<div class="main-window-panel">
    <!--Create new exercise-->
    <div>
        <!--Open button-->
        <div ng-show="!$ctrl.showAdd">
            <div class="pointer" ng-click="$ctrl.openAddExerciseTab()">
                <i class="fa fa-plus" aria-hidden="true"></i>
                Agregar Ejercicio
            </div>
        </div>
        <!--Add Exercise tab-->
        <div ng-show="$ctrl.showAdd" class="window-panel">
            <!--Title-->
            <div class="row">
                <div class="col-xs-6 left">
                  Agregar Ejercicio
                </div>
                <div class="col-xs-6 right">
                  <i class="fa fa-times pointer icon-red" aria-hidden="true" ng-click="$ctrl.closeAddExerciseTab()"></i>
                </div>
            </div>
            <!--Spacer-->
            <div class="row spacer"></div>
            <!--Inputs-->
            <div class="row">
              <div class="col-xs-2">
                <input type="text" ng-model="$ctrl.new_exercise" placeholder="Nombre">
              </div>
              <div class="col-xs-2">
                <button class="btn btn-primary smaller" ng-click="$ctrl.openModal()" ng-disabled="!($ctrl.new_exercise)">Agregar</button>
              </div>
            </div>
         </div>
    </div>
    <!--Spacer-->
    <div class="spacer"></div>
    <!--Exercise select icon-->
    <div>
        <i class="fa fa-database" aria-hidden="true"></i>
        Selección de ejercicio
    </div>
    <!--list-->
    <div>
        <select ng-model="$ctrl.selectedExercise">
            <option value="" selected="selected" disabled>Seleccione</option>
            <option ng-repeat="exercise in $ctrl.exercises" value="{{exercise.id}}">{{exercise.name}}</option>
        </select>
         <a ng-if="$ctrl.selectedExercise" class="btn btn-primary smaller" ui-sref="exerciseView.journal({exercise_id: $ctrl.selectedExercise })">Ir</a>
    </div>
    <!--toast-->
    <div id="snackbar" class="snackbar">{{$ctrl.message}}</div>
    <!--Modal-->
    <div id="myModal" class="modal">
      <!-- Modal content -->
      <div class="modal-content">
        <span ng-click="$ctrl.closeModal()" class="close">&times;</span>
        <br>
        <h4>¿Seguro que desea agregar este ejercicio?</h4>
        <div class="spacer"></div>
        <button class="btn btn-danger" ng-click="$ctrl.closeModal()">
          Cancelar
        </button>
        <button class="btn btn-success" ng-click="$ctrl.addExercise()">
          Aceptar
        </button>
      </div>
    </div>
</div>
