<navigation></navigation>
<!--Back to exercise list-->
<div class="pointer return-to-exercises">
    <i class="fa fa-arrow-left icon-blue" aria-hidden="true"></i>
    <a ui-sref="exercises">Volver a la seleccion de ejercicios</a>
</div>
<div class="main-window-panel">
  <div ui-view=""></div>
</div>
